.g-container{
    background: var(--blue);
    min-height: 15rem;
    border: 8px solid #5D77D6;
    border-radius:15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
}

.g-container>h1{
    font-size: 35px;
}

.g-container>p{
    text-align: center;
    color: #eee;
}

.g-btn{
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 8px;
    background: #5A73D7;
    color: #eee;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.g-btn:hover{
    scale: 1.1;
}
